.align-center {
    align-items: center;
}

.bg-darkBrown {
    background: $bg-darkBrown;
}

.bg-darkRed {
    background: $bg-darkRed;
}

.bg-light {
    background: $bg-light;
}

.bg-lightBrown {
    background: $bg-lightBrown;
}

.bg-lightRed {
    background: $bg-lightRed;
}

.bg-Red {
    background: $bg-Red;
}

.bold400 {
    font-weight: 400;
}

.bold900 {
    font-weight: 900;
}

//確認
.border {
    border: 3px solid black;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.fz14 {
    font-size: 14px;
}

.fz16 {
    font-size: 16px;
}

.fz18 {
    font-size: 18px;
}

.fz19 {
    font-size: 19px;
}

.fz20 {
    font-size: 20px;
}

.fz24 {
    font-size: 24px;
}

.fz32 {
    font-size: 32px;
}

.fz36 {
    font-size: 36px;
}

.fz42 {
    font-size: 42px;
}

.fz48 {
    font-size: 48px;
}

.fz64 {
    font-size: 64px;
}

.gap16 {
    gap: 16px;
}

.gap24 {
    gap: 24px;
}

.gap4 {
    gap: 4px;
}

.gap48 {
    gap: 48px;
}

.gap64 {
    gap: 64px;
}

.gap8 {
    gap: 8px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb16 {
    margin-bottom: 16px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb24 {
    margin-bottom: 24px;
}

.mb32 {
    margin-bottom: 32px;
}

.mb36 {
    margin-bottom: 36px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb41 {
    margin-bottom: 41px;
}

.mb48 {
    margin-bottom: 48px;
}

.mb60 {
    margin-bottom: 60px;
}

.mb8 {
    margin-bottom: 8px;
}

.mb80 {
    margin-bottom: 80px;
}

.mt24 {
    margin-top: 24px;
}

.mt-auto {
    margin-top: auto;
}


.p16 {
    padding: 16px;
}

.pb106 {
    padding-bottom: 106px;
}

.pb16 {
    padding-bottom: 16px;
}

.pb32 {
    padding-bottom: 32px;
}

.pl12 {
    padding-left: 12px;
}

.plr24 {
    padding-left: 24px;
    padding-right: 24px;
}

.pt16 {
    padding-top: 16px;
}

.pt32 {
    padding-top: 32px;
}

.pt6 {
    padding-top: 6px;
}

.pt60 {
    padding-top: 60px;
}

.pt96 {
    padding-top: 96px;
}

.ptb13 {
    padding-top: 13px;
    padding-bottom: 13px;
}

.ptb16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.ptb25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.ptb296 {
    padding-top: 296px;
    padding-bottom: 296px;
}

.ptb8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.ptb80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.text-darkRed {
    color: $text-darkRed;
}

.text-lightRed {
    color: $text-lightRed;
}

.text-Red {
    color: $text-Red;
}

.text-right {
    text-align: right;
}

.text-white {
    color: $text-white;
}

.wh-24 {
    width: 24px;
    height: 24px;
}