$text-darkRed: #670300;
$text-lightRed: #FBF2F2;
$text-Red: #AA0601;
$text-white: #ffffff;

$bg-darkBrown: #5F3E2D;
$bg-lightBrown: #B75929;
$bg-lightRed: #FBF2F2;
$bg-light: #ffffff;
$bg-darkRed: #670300;
$bg-Red: #AA0601;