<section class="blogBar bg-darkRed">
    <div class="container ptb13 d-flex justify-content-between">
        <ul class="blogBarList d-flex gap48 fz20">
            <li class="blogBarItem"><a href="#" class="text-white text-decoration-none">最新消息</a></li>
            <li class="blogBarItem"><a href="#" class="text-white text-decoration-none">特別企劃</a></li>
            <li class="blogBarItem"><a href="#" class="text-white text-decoration-none">新品上市</a></li>
            <li class="blogBarItem"><a href="#" class="text-white text-decoration-none">鏡框小知識</a></li>
        </ul>
        <i class="bi bi-search text-white fz20"></i>
    </div>
</section>