
            <div class="branchMenu mb41">
                <div class="dropdown">
                    選擇分店&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn dropdown-toggle border fz18" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        台北中山旗艦店
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">台北市</a></li>
                        <li><a class="dropdown-item" href="#">台中市</a></li>
                        <li><a class="dropdown-item" href="#">高雄市</a></li>
                    </ul>
                </div>
            </div>