<section class="footer bg-Red">
    <div class="container pb32">
        <div class="footer-nav mb36 d-flex justify-content-between">
            <ul class="navList fz16 d-flex gap48 align-items-center">
                <li><a href="index.html" class="text-decoration-none text-lightRed">首頁</a></li>
                <li><a href="product.html" class="text-decoration-none text-lightRed">系列鏡框</a></li>
                <li><a href="branch.html" class="text-decoration-none text-lightRed">門市據點</a></li>
                <li><a href="blog.html" class="text-decoration-none text-lightRed">部落格</a></li>
                <li><a href="question.html" class="text-decoration-none text-lightRed">常見問題</a></li>
            </ul>
            
            <div class="social gap48">
                <span class="social-link"><a href="#" class="text-dacoration-none"><img src="../assets/images/ic-social-fb.png" alt="ic-social-fb.png"></a></span>

                <span class="social-link"><a href="#" class="text-dacoration-none"><img src="../assets/images/ic_social_ig.png" alt="ic_social_ig.png"></a></span>

                <span class="social-link"><a href="#" class="text-dacoration-none"><img src="../assets/images/ic_social_line.png" alt="ic_social_line.png" ></a></span>
            </div>
        </div>

        <div class="telephone mb8 gap16  text-white">
            <i class="bi bi-telephone fz36"></i>
            <span class="telText fz36">0800-000-000</span>
        </div>
             
        <div class="envelope mb32 gap16 text-white">
            <i class= "fz36 bi bi-envelope"></i>
            <span class="envelopeText fz36">glasses@business.com</span>
        </div>

        <div class="footer-bottom fz16 pt32 d-flex  justify-content-between">
            <span class="text-white mb8 line-height">Copyright © 2020 Glasses.All rights reserved.</span>
            <ul class="navBottom d-flex">
                <li class="navBottomItem"><a href="#" class="text-decoration-none text-white">隱私權政策</a></li>
                <li class="navBottomItem"><a href="#" class="text-decoration-none text-white">服務條款</a></li>
            </ul>
        </div>
    </div>
</section>