<section class="header bg-Red">
    <div class="container d-flex ptb25">
        <a href="index.html"><img src="../assets/images/logo-white.png" alt="logo-white.png"></a>
        <ul class="navList d-flex gap64 fz20">
            <li><a href="product.html" class="text-decoration-none text-lightRed">系列鏡框</a></li>
            <li><a href="branch.html" class="text-decoration-none text-lightRed">門市據點</a></li>
            <li><a href="blog.html" class="text-decoration-none text-lightRed">部落格</a></li>
            <li><a href="question.html" class="text-decoration-none text-lightRed">常見問題</a></li>
        </ul>
    </div>
</section>