.header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 80px;
      height: 48.7px;
    }

    .navList {
      li a {
        &:hover {
          color: #ffffff;
          border-bottom: 3px solid #ffffff;
        }
      }

      @include pad() {
        gap: 32px;
      }
    }

    @include mobile() {
      flex-direction: column;
      align-items: flex-start;
      padding: 0;

      img {
        margin: 16px 15px;
      }

      .navList {
        width: 100%;
        gap: 0;
        flex-wrap: wrap;

        li {
          width: 50%;
          border: 1px solid #ffffff;
          text-align: center;
        }
      }
    }
  }
}