<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
      rel="stylesheet"
    />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script type="module" src="../main.js"></script>
    <title>week4Homework</title>
</head>
<body>
    <%- include('./layout/header'); -%>
    <%- include('./layout/blogBar.ejs'); -%>

    <section class="content">
        <div class="container pt96">
            <div class="title mb32">
                <h1 class="fz48 bold900">部落格</h1>
            </div>

            <div class="card mb60">
                <div class="row g-0">
                    <div class="col-12 col-md-6"><img src="../assets/images/blog-1.png" alt="blog-1.png" class="img-fluid rounded-start h-100"></div>
                    <div class="col-12 col-md-6">
                        <div class="card-body d-flex flex-column h-100">
                            <div class="card-title mb16">
                                <h5 class="fz32 text-darkRed bold900"><a href="blogEvent.html" class="text-decoration-none text-darkRed">情人特別企劃</a></h5>
                                <div class="outline d-flex justify-content-between align-items-center">
                                    <sapn class="fz20 bold900">2020 Valentine’s Special</sapn>
                                    <sapn class="16px">2020/02/14</sapn>
                                </div>
                            </div>
                            <div class="card-text d-none d-sm-block text-secondary">
                                <p class="fz20">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。
                                    本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                                    即日起至2/16為止，不論是熱戀情侶、自由自在一個人或是老夫老妻<span class="d-none d-lg-flex">只要從未來過本店的新朋友，綁定官方LINE好友，都可享專屬優惠</span>⋯⋯<span class="d-lg-none"><a href="blogEvent.html" class="text-decoration-none text-secondary">more</a></span></p>
                            </div>
                            <a href="blogEvent.html" class="fz36 text-darkRed mt-auto ms-auto text-decoration-none bold900 d-none d-lg-block">More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb60">
                <div class="row g-2">
                    <div class="col-12 col-md-6"><img src="../assets/images/blog-2.png" alt="blog-2.png" class="img-fluid rounded-start h-100"></div>
                    <div class="col-12 col-md-6 ">
                        <div class="card-body d-flex flex-column h-100">
                            <div class="card-title mb16">
                                <h5 class="fz32 text-darkRed bold900"><a href="blogEvent.html" class="text-decoration-none text-darkRed">街頭潮人訪問</a></h5>
                                <div class="outline d-flex justify-content-between align-items-center">
                                    <sapn class="fz20 bold900">Street Interview</sapn>
                                    <sapn class="16px">2020/02/02</sapn>
                                </div>
                            </div>
                            <div class="card-text d-none d-sm-block text-secondary">
                                <p class="fz20">炎熱的夏季裡，衣著選擇經常希望以簡潔的風格為主，但有時單純只穿搭
                                    T
                                    恤或短袖開襟襯衫，又覺得整體造型度有點不足嗎？那麼不妨可以透過「配件」，為穿搭點綴出與眾不同的視覺層次，而本季有哪些必備的配件系列呢？一起從以下推薦的
                                    3 款單品，讓你瞬間帥氣<span class="d-none d-lg-flex">爆棚散發型男品味</span>⋯⋯<span class="d-lg-none"><a href="blogEvent.html" class="text-decoration-none text-secondary">more</a></span></p>
                            </div>
                            <a href="blogEvent.html" class="fz36 text-darkRed mt-auto ms-auto text-decoration-none bold900 d-none d-lg-block">More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb60">
                <div class="row g-2">
                    <div class="col-12 col-md-6"><img src="../assets/images/blog-3.png" alt="blog-3.png" class="img-fluid rounded-start h-100"></div>
                    <div class="col-12 col-md-6">
                        <div class="card-body d-flex flex-column h-100">
                            <div class="card-title mb16">
                                <h5 class="fz32 text-darkRed bold900"><a href="blogEvent.html" class="text-decoration-none text-darkRed">春季新品上市</a></h5>
                                <div class="outline d-flex justify-content-between align-items-center">
                                    <sapn class="fz20 bold900">New Selection</sapn>
                                    <sapn class="16px">2020/02/02</sapn>
                                </div>
                            </div>
                            <div class="card-text d-none d-sm-block text-secondary">
                                <p class="fz20">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。
                                    本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                                    即日起至2/16為止，不論是熱戀情侶、自由自在一個人或是老夫老妻<span class="d-none d-lg-flex">只要從未來過本店的新朋友，綁定官方LINE好友，都可享專屬優惠</span>⋯⋯<span class="d-lg-none"><a href="blogEvent.html" class="text-decoration-none text-secondary">more</a></span></p>
                            </div>
                            <a href="blogEvent.html" class="fz36 text-darkRed mt-auto ms-auto text-decoration-none bold900 d-none d-lg-block">More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb60">
                <div class="row g-2">
                    <div class="col-12 col-md-6"><img src="../assets/images/blog-4.png" alt="blog-4.png" class="img-fluid rounded-start h-100"></div>
                    <div class="col-12 col-md-6">
                        <div class="card-body d-flex flex-column h-100">
                            <div class="card-title mb16">
                                <h5 class="fz32 text-darkRed bold900"><a href="blogEvent.html" class="text-decoration-none text-darkRed">設計師獨享鏡框優惠</a></h5>
                                <div class="outline d-flex justify-content-between align-items-center">
                                    <sapn class="fz20 bold900">Sales for Designer</sapn>
                                    <sapn class="16px">2020/01/18</sapn>
                                </div>
                            </div>
                            <div class="card-text d-none d-sm-block text-secondary">
                                <p class="fz20">
                                    2020
                                    年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感<span class="d-none d-lg-flex">，俐落時髦的造型搭配一件簡單的白襯衫就相當有型，是喜愛時尚質感人士絕不能錯過的必備款式</span>⋯⋯<span class="d-lg-none"><a href="blogEvent.html" class="text-decoration-none text-secondary">more</a></span></p>
                            </div>
                            <a href="blogEvent.html" class="fz36 text-darkRed mt-auto ms-auto text-decoration-none bold900 d-none d-lg-block">More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb80"> 
                <div class="row g-2">
                    <div class="col-12 col-md-6"><img src="../assets/images/blog-5.png" alt="blog-5.png" class="img-fluid rounded-start h-100"></div>
                    <div class="col-12 col-md-6 ">
                        <div class="card-body d-flex flex-column h-100">
                            <div class="card-title mb16">
                                <h5 class="fz32 text-darkRed bold900"><a href="blogEvent.html" class="text-decoration-none text-darkRed">抵抗夏日大作戰</a></h5>
                                <div class="outline d-flex justify-content-between align-items-center">
                                    <sapn class="fz20 bold900">Summer Special</sapn>
                                    <sapn class="16px">2019/08/07</sapn>
                                </div>
                            </div>
                            <div class="card-text d-none d-sm-flex text-secondary">
                                <p class="fz20">2020
                                    年春季的光學眼鏡跳脫前幾季流行的復古框型，比起圓框與小方框等文青風格，偏向個性款式的眉框眼鏡成為這一季的耀眼之星。除了經典款式如黑色眉框落在長方形鏡面上，眉宇之間露出專業莊重的特殊氣質，包覆在圓形鏡框上的貓眼型眉框則是強調出特殊設計感<span class="d-none d-lg-flex">，俐落時髦的造型搭配一件簡單的白襯衫就相當有型，是喜愛時尚質感人士絕不能錯過的必備款式</span>⋯⋯<span class="d-lg-none"><a href="blogEvent.html" class="text-decoration-none text-secondary">more</a></span>
                                </p>
                            </div>
                            <a href="blogEvent.html" class="fz36 text-darkRed mt-auto ms-auto text-decoration-none bold900 d-none d-lg-block">More</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</section>
 
<%- include('./layout/pagination'); -%>
<%- include('./layout/footer'); -%>

    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>


</body>
</html>