<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
      rel="stylesheet"
    />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script type="module" src="../main.js"></script>
    <title>week4Homework</title>
</head>
<body>
    <%- include('./layout/header'); -%>
    
    <section class="group">
        <div class="container p-0">
            <ul class="btn-group groupList w-100">
                <a href="#" class="btn groupItem border text-dark fz32 bold900 active col-4">OPTICAL</a>
                <a href="#" class="btn groupItem border text-dark fz32 bold900 col-4">SUNGLASSES</a>
                <a href="#" class="btn groupItem border text-dark fz32 bold900 col-4">FUNCTIONAL</a>
            </ul>
        </div>
    </section>
 
    <section class="product mb80 active">
        <div class="d-flex mb80">
            <img src="../assets/images/product-header-1.png" alt="product-header-1.png" class="img-fluid w-50">
            <img src="../assets/images/product-header-2.png" alt="product-header-2.png" class="img-fluid w-50">
        </div>

        <div class="container">
            <h1 class="fz42 bold900 text-center">Celluloid Combi</h1>
            <h3 class="fz32 bold900 mb32 text-center">賽璐珞鈦金屬混合鏡框</h3>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 w-100">
                <div class="col mb40">
                    <div class="card h-100">
                        <img src="../assets/images/product-1.png" class="card-img-top" alt="product-1.png">
                        <div class="card-body">
                            <div class="color d-flex">
                                <span class="fz24 bold900 me-auto">BJ41600S</span>
                                <span class="fz24 bold900 text-darkRed">NTD3,490</span>
                            </div>
                            <div class="colorItem d-flex gap8">
                                <a class="color1 border border-radius bg-darkBrown text-decoration-none wh-24 d-block"></a>
                                <a class="color2 border border-radius bg-lightBrown text-decoration-none wh-24 d-block"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col mb40">
                    <div class="card h-100">
                        <img src="../assets/images/product-2.png" class="card-img-top" alt="product-2.png">
                        <div class="card-body">
                            <div class="color d-flex">
                                <span class="fz24 bold900 me-auto">BJ41600S</span>
                                <span class="fz24 bold900 text-darkRed">NTD3,490</span>
                            </div>
                            <div class="colorItem d-flex gap8">
                                <a class="color1 border border-radius bg-darkBrown text-decoration-none wh-24 d-block"></a>
                                <a class="color2 border border-radius bg-lightBrown text-decoration-none wh-24 d-block"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col mb40">
                    <div class="card h-100">
                        <img src="../assets/images/product-3.png" class="card-img-top" alt="product-3.png">
                        <div class="card-body">
                            <div class="color d-flex">
                                <span class="fz24 bold900 me-auto">BJ41600S</span>
                                <span class="fz24 bold900 text-darkRed">NTD3,490</span>
                            </div>
                            <div class="colorItem d-flex gap8">
                                <a class="color1 border border-radius bg-darkBrown text-decoration-none wh-24 d-block"></a>
                                <a class="color2 border border-radius bg-lightBrown text-decoration-none wh-24 d-block"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col mb40">
                    <div class="card h-100">
                        <img src="../assets/images/product-4.png" class="card-img-top" alt="product-4.png">
                        <div class="card-body">
                            <div class="color d-flex">
                                <span class="fz24 bold900 me-auto">BJ41600S</span>
                                <span class="fz24 bold900 text-darkRed">NTD3,490</span>
                            </div>
                            <div class="colorItem d-flex gap8">
                                <a class="color1 border border-radius bg-darkBrown text-decoration-none wh-24 d-block"></a>
                                <a class="color2 border border-radius bg-lightBrown text-decoration-none wh-24 d-block"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col mb40">
                    <div class="card h-100">
                        <img src="../assets/images/product-5.png" class="card-img-top" alt="product-5.png">
                        <div class="card-body">
                            <div class="color d-flex">
                                <span class="fz24 bold900 me-auto">BJ41600S</span>
                                <span class="fz24 bold900 text-darkRed">NTD3,490</span>
                            </div>
                            <div class="colorItem d-flex gap8">
                                <a class="color1 border border-radius bg-darkBrown text-decoration-none wh-24 d-block"></a>
                                <a class="color2 border border-radius bg-lightBrown text-decoration-none wh-24 d-block"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col mb40">
                    <div class="card h-100">
                        <img src="../assets/images/product-6.png" class="card-img-top" alt="product-6.png">
                        <div class="card-body">
                            <div class="color d-flex">
                                <span class="fz24 bold900 me-auto">BJ41600S</span>
                                <span class="fz24 bold900 text-darkRed">NTD3,490</span>
                            </div>
                            <div class="colorItem d-flex gap8">
                                <a class="color1 border border-radius bg-darkBrown text-decoration-none wh-24 d-block"></a>
                                <a class="color2 border border-radius bg-lightBrown text-decoration-none wh-24 d-block"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col mb40">
                    <div class="card h-100">
                        <img src="../assets/images/product-7.png" class="card-img-top" alt="product-7.png">
                        <div class="card-body">
                            <div class="color d-flex">
                                <span class="fz24 bold900 me-auto">BJ41600S</span>
                                <span class="fz24 bold900 text-darkRed">NTD3,490</span>
                            </div>
                            <div class="colorItem d-flex gap8">
                                <a class="color1 border border-radius bg-darkBrown text-decoration-none wh-24 d-block"></a>
                                <a class="color2 border border-radius bg-lightBrown text-decoration-none wh-24 d-block"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col mb40">
                    <div class="card h-100">
                        <img src="../assets/images/product-8.png" class="card-img-top" alt="product-8.png">
                        <div class="card-body">
                            <div class="color d-flex">
                                <span class="fz24 bold900 me-auto">BJ41600S</span>
                                <span class="fz24 bold900 text-darkRed">NTD3,490</span>
                            </div>
                            <div class="colorItem d-flex gap8">
                                <a class="color1 border border-radius bg-darkBrown text-decoration-none wh-24 d-block"></a>
                                <a class="color2 border border-radius bg-lightBrown text-decoration-none wh-24 d-block"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col mb40">
                    <div class="card h-100">
                        <img src="../assets/images/product-9.png" class="card-img-top" alt="product-9.png">
                        <div class="card-body">
                            <div class="color d-flex">
                                <span class="fz24 bold900 me-auto">BJ41600S</span>
                                <span class="fz24 bold900 text-darkRed">NTD3,490</span>
                            </div>
                            <div class="colorItem d-flex gap8">
                                <a class="color1 border border-radius bg-darkBrown text-decoration-none wh-24 d-block"></a>
                                <a class="color2 border border-radius bg-lightBrown text-decoration-none wh-24 d-block"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col mb40">
                    <div class="card h-100">
                        <img src="../assets/images/product-10.png" class="card-img-top" alt="product-10.png">
                        <div class="card-body">
                            <div class="color d-flex">
                                <span class="fz24 bold900 me-auto">BJ41600S</span>
                                <span class="fz24 bold900 text-darkRed">NTD3,490</span>
                            </div>
                            <div class="colorItem d-flex gap8">
                                <a class="color1 border border-radius bg-darkBrown text-decoration-none wh-24 d-block"></a>
                                <a class="color2 border border-radius bg-lightBrown text-decoration-none wh-24 d-block"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col mb40">
                    <div class="card h-100">
                        <img src="../assets/images/product-11.png" class="card-img-top" alt="product-11.png">
                        <div class="card-body">
                            <div class="color d-flex">
                                <span class="fz24 bold900 me-auto">BJ41600S</span>
                                <span class="fz24 bold900 text-darkRed">NTD3,490</span>
                            </div>
                            <div class="colorItem d-flex gap8">
                                <a class="color1 border border-radius bg-darkBrown text-decoration-none wh-24 d-block"></a>
                                <a class="color2 border border-radius bg-lightBrown text-decoration-none wh-24 d-block"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col mb40">
                    <div class="card h-100">
                        <img src="../assets/images/product-12.png" class="card-img-top" alt="product-12.png">
                        <div class="card-body">
                            <div class="color d-flex">
                                <span class="fz24 bold900 me-auto">BJ41600S</span>
                                <span class="fz24 bold900 text-darkRed">NTD3,490</span>
                            </div>
                            <div class="colorItem d-flex gap8">
                                <a class="color1 border border-radius bg-darkBrown text-decoration-none wh-24 d-block"></a>
                                <a class="color2 border border-radius bg-lightBrown text-decoration-none wh-24 d-block"></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="product mb80">
        <div class="d-flex mb40">
            <img src="../assets/images/product-header-3.png" alt="product-header-3.png" class="img-fluid w-50">
            <img src="../assets/images/product-header-4.png" alt="product-header-4.png" class="img-fluid w-50">
        </div>
        <div class="container">
            <h1 class="fz42 bold900 text-center">2020 New COLLECTION</h1>
            <h3 class="fz32 bold900 mb32 text-center">賽璐珞鈦金屬混合鏡框</h3>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3  w-100">
                <div class="col mb40">
                    <div class="card h-100">
                        <img src="../assets/images/product-7.png" class="card-img-top" alt="product-7.png">
                        <div class="card-body">
                            <div class="color d-flex">
                                <span class="fz24 bold900 me-auto">BJ41600S</span>
                                <span class="fz24 bold900 text-darkRed">NTD3,490</span>
                            </div>
                            <div class="colorItem d-flex gap8">
                                <a class="border border-radius bg-darkBrown wh-24 d-block"></a>
                                <a class="border border-radius bg-lightBrown text-decoration-none wh-24 d-block"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col mb40">
                    <div class="card h-100">
                        <img src="../assets/images/product-8.png" class="card-img-top" alt="product-8.png">
                        <div class="card-body">
                            <div class="color d-flex">
                                <span class="fz24 bold900 me-auto">BJ41600S</span>
                                <span class="fz24 bold900 text-darkRed">NTD3,490</span>
                            </div>
                            <div class="colorItem d-flex gap8">
                                <a class="color1 border border-radius bg-darkBrown text-decoration-none wh-24 d-block"></a>
                                <a class="color2 border border-radius bg-lightBrown text-decoration-none wh-24 d-block"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col mb40">
                    <div class="card h-100">
                        <img src="../assets/images/product-9.png" class="card-img-top" alt="product-9.png">
                        <div class="card-body">
                            <div class="color d-flex">
                                <span class="fz24 bold900 me-auto">BJ41600S</span>
                                <span class="fz24 bold900 text-darkRed">NTD3,490</span>
                            </div>
                            <div class="colorItem d-flex gap8">
                                <a class="color1 border border-radius bg-darkBrown text-decoration-none wh-24 d-block"></a>
                                <a class="color2 border border-radius bg-lightBrown text-decoration-none wh-24 d-block"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col mb40">
                    <div class="card h-100">
                        <img src="../assets/images/product-10.png" class="card-img-top" alt="product-10.png">
                        <div class="card-body">
                            <div class="color d-flex">
                                <span class="fz24 bold900 me-auto">BJ41600S</span>
                                <span class="fz24 bold900 text-darkRed">NTD3,490</span>
                            </div>
                            <div class="colorItem d-flex gap8">
                                <a class="color1 border border-radius bg-darkBrown text-decoration-none wh-24 d-block"></a>
                                <a class="color2 border border-radius bg-lightBrown text-decoration-none wh-24 d-block"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col mb40">
                    <div class="card h-100">
                        <img src="../assets/images/product-11.png" class="card-img-top" alt="product-11.png">
                        <div class="card-body">
                            <div class="color d-flex">
                                <span class="fz24 bold900 me-auto">BJ41600S</span>
                                <span class="fz24 bold900 text-darkRed">NTD3,490</span>
                            </div>
                            <div class="colorItem d-flex gap8">
                                <a class="color1 border border-radius bg-darkBrown text-decoration-none wh-24 d-block"></a>
                                <a class="color2 border border-radius bg-lightBrown text-decoration-none wh-24 d-block"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col mb40">
                    <div class="card h-100">
                        <img src="../assets/images/product-12.png" class="card-img-top" alt="product-12.png">
                        <div class="card-body">
                            <div class="color d-flex">
                                <span class="fz24 bold900 me-auto">BJ41600S</span>
                                <span class="fz24 bold900 text-darkRed">NTD3,490</span>
                            </div>
                            <div class="colorItem d-flex gap8">
                                <a class="color1 border border-radius bg-darkBrown text-decoration-none wh-24 d-block"></a>
                                <a class="color2 border border-radius bg-lightBrown text-decoration-none wh-24 d-block"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="product mb80">
        <div class="d-flex mb40">
            <img src="../assets/images/product-header-2.png" alt="product-header-2.png" class="img-fluid w-50">
            <img src="../assets/images/product-header-3.png" alt="product-header-3.png" class="img-fluid w-50">
        </div>
        <div class="container">
            <h1 class="fz42 bold900 text-center">2020 New COLLECTION</h1>
            <h3 class="fz32 bold900 mb32 text-center">賽璐珞鈦金屬混合鏡框</h3>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3  w-100">
                <div class="col mb40">
                    <div class="card h-100">
                        <img src="../assets/images/product-7.png" class="card-img-top" alt="product-7.png">
                        <div class="card-body">
                            <div class="color d-flex">
                                <span class="fz24 bold900 me-auto">BJ41600S</span>
                                <span class="fz24 bold900 text-darkRed">NTD3,490</span>
                            </div>
                            <div class="colorItem d-flex gap8">
                                <a class="color1 border border-radius bg-darkBrown text-decoration-none wh-24 d-block"></a>
                                <a class="color2 border border-radius bg-lightBrown text-decoration-none wh-24 d-block"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col mb40">
                    <div class="card h-100">
                        <img src="../assets/images/product-8.png" class="card-img-top" alt="product-8.png">
                        <div class="card-body">
                            <div class="color d-flex">
                                <span class="fz24 bold900 me-auto">BJ41600S</span>
                                <span class="fz24 bold900 text-darkRed">NTD3,490</span>
                            </div>
                            <div class="colorItem d-flex gap8">
                                <a class="color1 border border-radius bg-darkBrown text-decoration-none wh-24 d-block"></a>
                                <a class="color2 border border-radius bg-lightBrown text-decoration-none wh-24 d-block"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col mb40">
                    <div class="card h-100">
                        <img src="../assets/images/product-9.png" class="card-img-top" alt="product-9.png">
                        <div class="card-body">
                            <div class="color d-flex">
                                <span class="fz24 bold900 me-auto">BJ41600S</span>
                                <span class="fz24 bold900 text-darkRed">NTD3,490</span>
                            </div>
                            <div class="colorItem d-flex gap8">
                                <a class="color1 border border-radius bg-darkBrown text-decoration-none wh-24 d-block"></a>
                                <a class="color2 border border-radius bg-lightBrown text-decoration-none wh-24 d-block"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col mb40">
                    <div class="card h-100">
                        <img src="../assets/images/product-10.png" class="card-img-top" alt="product-10.png">
                        <div class="card-body">
                            <div class="color d-flex">
                                <span class="fz24 bold900 me-auto">BJ41600S</span>
                                <span class="fz24 bold900 text-darkRed">NTD3,490</span>
                            </div>
                            <div class="colorItem d-flex gap8">
                                <a class="color1 border border-radius bg-darkBrown text-decoration-none wh-24 d-block"></a>
                                <a class="color2 border border-radius bg-lightBrown text-decoration-none wh-24 d-block"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col mb40">
                    <div class="card h-100">
                        <img src="../assets/images/product-11.png" class="card-img-top" alt="product-11.png">
                        <div class="card-body">
                            <div class="color d-flex">
                                <span class="fz24 bold900 me-auto">BJ41600S</span>
                                <span class="fz24 bold900 text-darkRed">NTD3,490</span>
                            </div>
                            <div class="colorItem d-flex gap8">
                                <a class="color1 border border-radius bg-darkBrown text-decoration-none wh-24 d-block"></a>
                                <a class="color2 border border-radius bg-lightBrown text-decoration-none wh-24 d-block"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col mb40">
                    <div class="card h-100">
                        <img src="../assets/images/product-12.png" class="card-img-top" alt="product-12.png">
                        <div class="card-body">
                            <div class="color d-flex">
                                <span class="fz24 bold900 me-auto">BJ41600S</span>
                                <span class="fz24 bold900 text-darkRed">NTD3,490</span>
                            </div>
                            <div class="colorItem d-flex gap8">
                                <a class="color1 border border-radius bg-darkBrown text-decoration-none wh-24 d-block"></a>
                                <a class="color2 border border-radius bg-lightBrown text-decoration-none wh-24 d-block"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('./layout/pagination'); -%>
    <%- include('./layout/footer'); -%>
<script>

    const aTab = document.querySelectorAll(".groupList a")
    const products = document.querySelectorAll(".product");
    
    for(let i=0; i<aTab.length; i++){
        aTab[i].addEventListener("click", function(){
            for (let j = 0; j < aTab.length; j++) {
                aTab[j].classList.remove("active");
                products[j].classList.remove("active");
            }
    
            this.classList.add("active");
            products[i].classList.add("active");
        })
    }
    </script>


    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

</body>
</html>